:root {
  --clr-background: #222831;
  --clr-font: #eeeeee;
  --font-word: "Josefin Sans", sans-serif;
  --font-title: "Sacramento", cursive;
  --clr-hover: #8c6a5d;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  overflow-x: hidden;
}
.title {
  display: none;
}
@media (max-width: 993px) {
  .title {
    display: inline;
    font-family: var(--font-title);
    color: var(--clr-font);
    font-size: 3em;
    padding-top: 16px;
  }
}
@media (max-width: 341px) {
  .title {
    display: none;
  }
}
@media (max-width: 180px) {
  .navbar-logo {
    display: none;
  }
}
.navbar {
  padding: 1.5rem 2rem;
  background-color: var(--clr-background);
}
header ul li a {
  color: var(--clr-font);
  font-family: var(--font-word);
}
header ul li a:hover {
  color: var(--clr-hover);
  text-decoration: none;
}
.delivery-title {
  color: var(--clr-font);
  font-family: var(--font-word);
}
.delivery-title:hover,
.fa-shipping-fast:hover {
  text-decoration: none;
  color: var(--clr-hover);
}
.delivery-btn {
  background-color: var(--clr-background);
}

/* ------ Home -------- */

.home-page {
  position: relative;
  background-color: var(--clr-background);
}
video {
  padding-top: 3rem;
  /* opacity: 0.3; */
  filter: brightness(30%);
  object-fit: fill;
  max-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.home-content h1 {
  position: absolute;
  overflow: hidden;
  color: var(--clr-font);
  font-family: var(--font-title);
  text-align: center;
  font-size: 4.5em;
  z-index: 1;
  width: 100%;
  left: 0;
  padding-top: 13rem;
  font-weight: bolder;
}
.home-content p {
  position: absolute;
  overflow: hidden;
  color: var(--clr-font);
  font-family: var(--font-word);
  text-align: center;
  font-size: 1.5em;
  z-index: 1;
  width: 100%;
  left: 0;
  padding-top: 22rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-weight: normal;
}
.home-btn button {
  color: var(--clr-font);
  display: inline-block;
  font-family: var(--font-word);
  position: absolute;
  z-index: 1;
  margin-top: 35rem;
  width: 20%;
}
.home-btn button:hover {
  text-decoration: none;
  background-color: var(--clr-hover);
}
.btn1 {
  left: 23rem;
}
.btn2 {
  left: 41rem;
}
@media (max-width: 1060px) {
  .btn1 {
    left: 23rem;
  }
  .btn2 {
    left: 41rem;
  }
}
@media (max-width: 993px) {
  .navbar {
    padding: 1.3rem 1.8rem;
  }
}
@media (max-width: 980px) {
  .home-content h1 {
    font-size: 3.8em;
  }
  .home-content p {
    font-size: 1.3em;
  }
  .btn1 {
    left: 18rem;
  }
  .btn2 {
    left: 36rem;
  }
}
@media (max-width: 915px) {
  .home-content h1 {
    font-size: 3.6em;
  }
  .home-content p {
    padding-top: 20rem;
    font-size: 1.3em;
  }
  .home-btn button {
    margin-top: 33rem;
  }
  .btn1 {
    left: 16rem;
  }
  .btn2 {
    left: 34rem;
  }
}

/* About US */

.about-container {
  padding-top: 0;
  background-color: var(--clr-background);
}
.about-title {
  text-align: center;
  color: var(--clr-font);
  font-weight: bold;
  font-family: var(--font-title);
  font-size: 4em;
  overflow: hidden;
  padding-top: 5rem;
}
.about-title-two {
  color: var(--clr-font);
  font-family: var(--font-word);
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.about-image {
  object-fit: fill;
  max-width: 100%;
  min-height: 100%;
}
.about-para {
  color: var(--clr-font);
  font-family: var(--font-word);
  text-align: left;
  font-size: 1.2em;
  padding-right: 6rem;
}
